mixin img(source, alt_text, exclude_container)
    - if (exclude_container)
        img(src=images+source, alt=alt_text)

    - else
        .img-container
            img(src=images+source, alt=alt_text)
            block
mixin img_absolute(source, alt_text, exclude_container)
    - if (exclude_container)
        img(src=source, alt=alt_text)

    - else
        .img-container
            img(src=source, alt=alt_text)
            block

mixin project-end-cta()
    .content-container.project-container.project-extra-padding
          a(href=topDir)
            h3.mb-s.small-caps go back to home