mixin image(src, alt)
    .img-container
        img(src=src alt=alt)

mixin img(src, alt) 
    - if (images)  {src = images + src}
    .img-container
        img(src=src alt=(alt ? alt : "images"))

mixin youtube(key, alt)
    .img-container
        .video-wrapper
            iframe(src="https://www.youtube.com/embed/"+key alt=alt allowfullscreen  frameborder="0")

mixin section(title) 
    h2.project-header=title
    p.project-p
        block

mixin link(href)
    a.btn(href=href)
        .label
            block
