extends ./layout
        
block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    
    .super-container.align-center#projects
        .hero.fade-in.delay-little
            h1="Renoj Varghese\'s Portfolio"
            p.
                Digital Interactions are magical. They can be anything and everything. 
                And just like a spell, a single interaction can have a large impact, sometimes good and sometimes bad.
                My job is to make sure this magic is both benevolent and effective.
                Here you can take a look at a few of my spells
        .container.clearfix
            each page in subpages
                a.portfolio-link(href=page.filename)
                    .portfolio-item
                        .center.rotate-high
                            .img-container
                                img(src=page.icon alt=page.title)            
                        .center-text 
                        h3.center-header.header=page.title
                        p.center-paragraph=page.description

block css-before
    style.
        .portfolio-link {
            opacity:0;
            margin-top: 50px;
        }
        
block js
    script.
        document.getElementById("projects").classList.add("active")
